<table id="templateBody" border="0" cellpadding="0" cellspacing="0"width="600">
  <tbody>
    <tr>
      <td valign="top">
        <!-- // Begin Module: Standard Content \\ -->
        <br />
        <table border="0" cellpadding="20" cellspacing="0" width="100%">
          <tbody>
            <tr>
              <td class="bodyContent" valign="top">
                <div mc:edit="std_content00">
                  <h4 class="h4">New event balblah</h4><br />
                  <strong>Hi <%= @user.name %>,</strong><br />

                  <br />
                    blah blah posted a new event to the calendar you subscribe to 
                    <br />
                    <br />
                    <br />
                    Sincerely yours,
                    <br>
                    The Daykoozie crew
                  
                  <br />
                  <br />
                </div>
              </td>
            </tr>
            <tr>
              <td style="padding-top: 0pt;" align="center" valign=
              "top">
                <table class="templateButton" border="0" cellpadding=
                "15" cellspacing="0">
                  <tbody>
                    <tr>
                      <td class="templateButtonContent" valign=
                      "middle">
                        <div mc:edit="std_content01">
                          <%= link_to "View event", calendars_url  %>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table><!-- // End Module: Standard Content \\ -->
      </td>
    </tr>
  </tbody>
</table><!-- // End Template Body \\ -->
